-- Offline Bible Database Migration
-- Creates tables for storing complete Bible translations locally

-- Bible Versions/Translations table
CREATE TABLE IF NOT EXISTS bible_versions (
  id SERIAL PRIMARY KEY,
  code VARCHAR(20) UNIQUE NOT NULL,
  name TEXT NOT NULL,
  full_name TEXT,
  language VARCHAR(50),
  year_published INTEGER,
  is_downloaded BOOLEAN DEFAULT FALSE,
  file_size_mb REAL DEFAULT 0,
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Bible Books table (Genesis, Exodus, Matthew, Mark, etc.)
CREATE TABLE IF NOT EXISTS bible_books (
  id SERIAL PRIMARY KEY,
  version_id INTEGER REFERENCES bible_versions(id) ON DELETE CASCADE,
  book_number INTEGER NOT NULL,
  book_name VARCHAR(50) NOT NULL,
  testament VARCHAR(20) NOT NULL, -- 'OT' or 'NT'
  chapters INTEGER NOT NULL,
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Bible Verses table
CREATE TABLE IF NOT EXISTS bible_verses (
  id SERIAL PRIMARY KEY,
  version_id INTEGER REFERENCES bible_versions(id) ON DELETE CASCADE,
  book_id INTEGER REFERENCES bible_books(id) ON DELETE CASCADE,
  chapter INTEGER NOT NULL,
  verse INTEGER NOT NULL,
  text TEXT NOT NULL,
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Bible Search Index (for fast text search)
CREATE TABLE IF NOT EXISTS bible_search_index (
  id SERIAL PRIMARY KEY,
  verse_id INTEGER REFERENCES bible_verses(id) ON DELETE CASCADE,
  word VARCHAR(100) NOT NULL,
  position INTEGER NOT NULL,
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Create indexes for better performance
CREATE INDEX IF NOT EXISTS idx_bible_versions_code ON bible_versions(code);
CREATE INDEX IF NOT EXISTS idx_bible_books_version ON bible_books(version_id);
CREATE INDEX IF NOT EXISTS idx_bible_books_name ON bible_books(book_name);
CREATE INDEX IF NOT EXISTS idx_bible_verses_version ON bible_verses(version_id);
CREATE INDEX IF NOT EXISTS idx_bible_verses_book_chapter ON bible_verses(book_id, chapter);
CREATE INDEX IF NOT EXISTS idx_bible_verses_reference ON bible_verses(book_id, chapter, verse);
CREATE INDEX IF NOT EXISTS idx_bible_search_verse ON bible_search_index(verse_id);
CREATE INDEX IF NOT EXISTS idx_bible_search_word ON bible_search_index(word);

-- Insert common Bible versions
INSERT INTO bible_versions (code, name, full_name, language, year_published) VALUES
('KJV', 'King James Version', 'King James Version', 'English', 1611),
('ESV', 'English Standard Version', 'English Standard Version', 'English', 2001),
('NIV', 'New International Version', 'New International Version', 'English', 1978),
('NASB', 'New American Standard Bible', 'New American Standard Bible', 'English', 1971),
('CSB', 'Christian Standard Bible', 'Christian Standard Bible', 'English', 2017)
ON CONFLICT (code) DO NOTHING;

-- Insert Bible books (standard 66 books)
